.header{
  box-shadow: 0px 5px 5px gray;

  .container{
    display: flex;
    width: 95%;
    margin: 0 auto;
  }

  .logo{
    display: flex;
    align-items: center;
    cursor: pointer;

    img{
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  .Link{
    text-decoration: none;
    color: #333333;
  }

  p:hover{
    cursor: pointer;
  }

  .nav{
    display: flex;
    margin-left: 150px;
    align-items: center;

    p:last-child {
      margin-left: 30px;
    }
  }
}
